###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################
# # beakerx (kernels: java, clojure, groovy, scala, kotlin, sql) and dependencies
# beakerx
# py4j

# # sos - script of scripts (multiple kernels)
# sos
# sos-notebook

#jupyter/jupyterlab extensions
ipywidgets
RISE

jupyter-server-proxy
jupyter-vscode-proxy

###############################################################
#          python packages             #
###############################################################

pprintpp


numpy
pandas
matplotlib
plotly
py2neo
ipython-cypher
networkx
igraph
jgraph



